*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}
body{
    background-color: rgb(38, 82, 66);
}

.main_title{
    background-color: rgb(38, 82, 66);
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
    text-align: center;
    font-size: 32px;
}
.nav_container{
    background-color: rgb(38, 82, 66);
    max-width: 100vw;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 20px 0px;
}

.container{
    max-width: 100vw;
    height: 100vh;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}
.bars_container{
    display:flex;
    flex-direction: row;
}

.bar{
    width: 10px;
    background-color: rgb(115, 66, 148);
    margin: 1px;
    transition: height 0.5s ease-in-out;
}

.buttons_container > button, select{
    width: 55px;
    height: 55px;
    background-color: rgb(168, 168, 168);
    border: none;
    border-radius: 10px; /*Round edges*/
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    transition:  0.2s ease-in-out;
}
button:hover, select:hover{
    background-color: rgb(190, 190, 190);
}
button:disabled, select:disabled{
    background: #4e4e4e;
    cursor: auto;
}

.empty-div:after{
    content: '.';
    visibility: hidden;
}